:root {
    --primary-color: #999176;
    --secondary-color: #f99500;
    --light-color: #f3f3eb;
    --dark-color: #333;
    --max-width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--light-color);
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

/* Button styling */

.btn {
    display: inline-block;
    border: none;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    margin: 0.3rem;
}

/* Header */

#header-container {
 width: 100vw;
 height: 590px;
}

#header-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.prime-info {
    position: absolute;
    top: 120px;
    margin-left: 2rem;
    }

.prime-info h1 {
    width: 60%;
    font-size: 3rem;
    color: var(--light-color);
    text-shadow: 2px 2px 2px #000;
}

.prime-info p {
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    width: 40%;
}   

.colored-word {
    background-color: var(--secondary-color);
    padding: 3px;

}

/* Style of hr line */
hr.style-seven {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* Blog section */


#blog h2 {
    text-align: center;
    font-size: 2rem;
}

 #blog .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;  
}
#blog .articles-container .post {
    margin: 8px;
    border: 1px solid var(--primary-color);
}
#blog .articles-container .post img {
    width: 450px;
}

#blog .articles-container .post div {
    text-align: center;
}

#blog .articles-container .post h3 {
   font-style: italic;
}

#blog .articles-container .post p {
    padding-top: 1rem;
    font-size: 0.8rem;
}

#blog .articles-container .btn:hover {
    opacity: 0.8;
    color: #000;
}


/* Add article button */

.add-article {
    text-align: center;
    margin: 1rem;
}
.add-article a {
    background: var(--primary-color);
    color: #fff;
    padding: 0.3rem 2.3rem;
    border-radius: 7px;
    margin: 0.9rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.5s;
}

.add-article a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .add-article a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .add-article a:hover span {
    padding-right: 25px;
  }
  
  .add-article a:hover span:after {
    opacity: 1;
    right: 0;
  }