/* Gereral styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f2f2f2;
}

.colored-word {
    background-color: #f99500;
    padding: 3px;
  }

section #grid_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

/* image properties */
section #grid_content .image {
    width: 500px;
    height: 500px;
}

section #grid_content .image img {
    background-repeat: no-repeat;
    width: 450px;
    height: 420px;
    object-fit: contain;
    margin-left: 1rem;
}
section #grid_content .image .images {
    width: 490px;
    height: 60px;
    background-color: #f99500;
    margin-left: 0.3rem;
}

/* text properties */
section #grid_content .content {
    width: 90%;
    text-align: center;
}

section #grid_content .content h1 {
    margin: 4rem;
}

/* button styling  */

section button {
    margin: 1rem;
  text-align: left;
}

.btn {
    border: none;
    background: #f99500;
    color: #fff;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
}

/* hr line  */

hr.style-seven {
    margin-top: 1rem;
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* google map */

#googleMap {
    width: 100%;
    height: 430px;
}


/* comments */

.comments {
    margin: 1rem;
}
.comments h3 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

/*added comments */

#added_comments {
    margin: 1rem;
    width: 30%;
}

.user_comment {
    margin-bottom: 1.2rem;
    font-family: 'Roboto', sans-serif;
    /* border: 1px dotted #000; */
    /* background-color: rgb(201, 193, 148); */
}

.user_comment h5 {
    margin-top: 0.3rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: #000;
    text-shadow: 2px 2px 2px #f99500;
}

.user_comment p {
    margin-top: 0.2rem;
    background-color: #fff;
    text-align: justify;
}


/* footer style */

.footer-info {
    background: rgb(243, 243, 235);
    background: linear-gradient(180deg, rgba(243, 243, 235, 1) 0%, rgb(221, 168, 107) 39%, rgb(230, 155, 42) 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
}

.footer-info .number {
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 50px 20px;
    padding-bottom: 1rem;
}

.footer-info .copy-right {
    border-bottom: 1px solid #000;
    border-bottom-right-radius: 50px 20px;
}

.footer-info h4 {
    font-size: 0.9rem;
}