* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
  }

  h1 {
      text-align: center;
      font-size: 3rem;
      color: #000;
      text-shadow: 1px 1px 1px #f2f2f2;
      margin: 1rem;
  }

  .btn {
    display: inline-block;
    border: none;
    background: #f99500;
    color: #fff;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    margin: 0.3rem;
  }