* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    background: #f2f2f2;
}

.colored-word {
    background-color: #f99500;
    padding: 3px;
}

.btn {
    display: inline-block;
    border: none;
    background: #f99500;
    color: #fff;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    margin: 0.3rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

/* grid style */

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem; 
}

.all_data {
    margin: auto;
    margin-bottom: 1rem;
}

#user_image {
    margin: auto;
    width: 350px;
    height: 345px;
    padding-bottom: 0.5rem;
}

#user_image img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
}

.private_info {
    padding-left: 1.4rem;
}

.private_info h4 {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

/* Style of hr line */

hr.style-seven {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.articles-info {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    background: linear-gradient(180deg, rgba(243, 243, 235, 1) 0%, rgb(221, 168, 107) 39%, rgba(230, 155, 42, 0) 100%);
}


/* atricles style */

#grid_articles {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* grid-gap: 1rem; */
    margin-left: 0.5rem;
    text-align: center;
}
#grid_articles .all_data {
    width: 400px;
    height: 350px;
    border: solid 1px #000;
}

.picture {
    height: 250px;
    width: 400px;
}
.picture img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}
